@model Product

<form method="post">
    <div class="row mb-3">
        <label for="name" class="col-sm-2 col-form-label">Название</label>
        <div class="col-sm-4">
            <input type="text" name="name" id="name"value=@Model.Name class="form-control" >
         </div>
    </div>
    <div class="row mb-3">
        <label for="cost" class="col-sm-2 col-form-label">Цена ₽</label>
        <div class="col-sm-4">
            <input type="number" name="cost" id="cost" value=@Model.Cost class="form-control">
         </div>
    </div>
     <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Описание</label>
        <div class="col-sm-4">
            <textarea class="form-control" name="description" id="description">@Model.Description</textarea>
         </div>
    </div>
    <div class="row mb-3">
        <label for="image" class="col-sm-2 col-form-label">Картинка</label>
        <div class="col-sm-4">
            <img src="@Model.ImagePath" class="card-img-top img-thumbnail" alt="..."></img>
            <input type="file" name="imagePath" id="image" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-4">
            <input type="number" name="productId" id="productId" hidden="true" value=@Model.Id class="form-control">
         </div>
    </div>
   <button class="btn btn-success" asp-controller="admin" asp-action="editProduct" type="submit">Изменить</button>
</form>