@model List<Product>
<div class="row">
        @await Html.PartialAsync("LeftAdminMenu")

    <div class="col-9">
        <h3>Продукты</h3>
        <a asp-area="admin" asp-controller="home" asp-action="addProduct">Добавить новый продукт</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Название</th>
                    <th>Цена</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var product in Model)
            {   

                <tbody>
                    <tr>
                        <td>@(product.Id+1)</td>
                        <td>@product.Name</td>
                        <td>@product.Cost</td>
                        <td><a asp-area="admin" asp-controller="home" asp-action="editProduct" asp-route-productId=@product.Id>Редактировать</a></td>
                        <td><a asp-area="admin" asp-controller="home" asp-action="removeProduct" asp-route-productId=@product.Id>Удалить</a></td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>