@model Favorite
@if (Model == null)
{
    <h1>Ваш спиок избранных товаров пуст</h1>

}
else
{
 <div class="row">
    @foreach (var product in Model.Products)
    {
       <div class="col-3">
            <div class="card h-100"> 
                <img src="@product.ImagePath" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                    <a class="card-title" href="/product/index/@product.Id"> @product.Name </a>
                    <h5>Цена:@product.Cost р.</h5>
                    <p>Описание:@product.Description</p>
                    <a class="btn btn-dark" href="/cart/add?productId=@product.Id">Добавить в карзину</a>
                </div> 
            </div>
       </div>
    }
</div>
}
