@model Cart


<form method="post">
    <div class="form-row">
        <div class="col-4 mb-4">
                <label for="name">Имя Фамилия</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Чакалов Владимир">
        </div>
        <div class="col-4 mb-4">
                <label for="phone">Телефон</label>
                <input type="tel" name="phone" pattern="+[7]{1} [0-9]{3} [0-9]{2} [0-9]{2}" class="form-control" id="phone" placeholder="+7 919 427 36 21">
        </div>
        <div class="col-4 mb-4">
                <label for="address">Адресс</label>
                <input type="text" name="address" class="form-control" id="address" placeholder="Пр.Коста 292/1 п.6 кв.79">
        </div>

    </div>
    <button type="submit" class="btn btn-success" asp-controller="order" asp-action="confirm">Подтвердить</button>
</form>

