@model Product
@{

}
@if (Model != null)
{
    <div class="row">
        <div class="col-6">
            <img src="@Model.ImagePath" class="card-img-top" alt="...">
        </div>
            <div class="col-6">
                <h5> <a href="/product/index/@Model.Id"> @Model.Name </a></h5>
                <h5>Цена:@Model.Cost р.</h5>
                <p>Описание:@Model.Description</p>
                <a class="btn btn-dark" href="#">Добавить в карзину</a>
                <a class="btn btn-primary" href="/home/index">Продолжить покупки</a>
            </div> 
    </div>
}
else
{
    <h1>Товара с данным id не существует</h1>
}
