@model Product
@{

}
@if (Model != null)
{
    <div class="row">
        <div class="col-6 card">
            <img src="https://amiel.club/uploads/posts/2022-03/1647647878_2-amiel-club-p-kartinki-pukhli-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <a class="card-title" href="/product/index/@Model.Id"> @Model.Name </a>
                <h5>Цена:@Model.Cost р.</h5>
                <p>Описание:@Model.Description</p>
                <a class="btn btn-dark" href="#">Добавить в карзину</a>
                <a class="btn btn-primary" href="/home/index">Продолжить покупки</a>
            </div> 
        </div>
    </div>
}
else
{
    <h1>Товара с данным id не существует</h1>
}
