<div class="col-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" asp-area="admin" asp-controller="home" asp-action="orders">Заказы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="admin" asp-controller="home" asp-action="users">Пользователи</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="admin" asp-controller="home" asp-action="roles">Роли</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" asp-area="admin" asp-controller="home" asp-action="products">Продукты</a>
          </li>
        </ul>
</div>