@model Cart



<table class="table">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Кол-во</th>
      <th scope="col">Стоймость</th>
    </tr>
  </thead>
@foreach (var position in Model.Positions)
{
    <p></p>
    <p></p>
  <tbody>
      <tr>
          <td>@position.Product.Name</td>
          <td>@position.Count</td>
          <td>@position.Product.Cost</td>
      </tr>
  </tbody>
}
  <tfoot>
     <tr>
        <td>Итого</td>
        <td></td>
        <td> @Model.CalculateAmount() ₽</td>
    </tr>
  </tfoot>
</table>
<div class="row">
    <div class="col-2">
        <button class="btn btn-primary" type="submit" href="#">Оформить заказ</button>
    </div>
</div>

